<div class="filter-bar">
    <app-card>
        <div class="filter-body">
            <app-filter></app-filter>
            <app-date-range></app-date-range>
        </div>
    </app-card>
</div>

<div class="chart-section">
    <app-card>
        <div class="body">Graph goes here</div>
    </app-card>
</div>

<div class="tables-section">
    <div class="raw-data">
        <app-card>
            <div class="body">Raw data goes here</div>
        </app-card>
    </div>
    <div class="top-requests">
        <app-card>
            <div class="body">top requests goes here</div>
        </app-card>
    </div>
</div>