.filter-button {
    height: 56px;
}

mat-form-field {
    width: 100%;
}

.dialog-content {
    min-width: 400px;
    padding: 24px;
}

mat-chip-row {
    margin-left: 12px;
}

mat-dialog-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.selected {
    margin-left: 20px;
}